@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}

/*************************************** NAVIGATION BAR *****************************/
 .logo {
     width:25%;
     display: flex;
     justify-content: center;
     align-items:center ;
 }
.logo img{
    width:20%; 
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
     display:flex;
     position: sticky;
     top: 0;
     align-items: center;
     justify-content: center;
}

.nav-list{
    width: 70%;
    display: flex;
    align-items:center;
}
.nav-list li{
    cursor: pointer;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 15px 25px  ;
}

.nav-list li a{
    text-decoration: none;
    color:white;

}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}
.rightNav{
    width:30%;
    padding: 12px 15px;
    text-align: right;
}
#search{
    align-items: center;
    padding: 7px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}
.backgroundd{
    background-color: black;
}


/***************************************** firstSection ************************************/

.background{
    background: rgb(0, 0, 0, 0.7) url('../Images/E5.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    height: 75%;
    margin: auto;
    max-width:50%;
   display:flex;
   align-items: center;
   padding: 15px 0px  ;
    justify-content: center;
    font-size: 20;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.firstHalf{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.secondHalf{
    width:30%;
}

.secondHalf img{
    border: 4px solid white;
    border-radius:150px;
    width:70%;
    display: block;
    margin: auto;
}

.text-big{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    color: white;
}

.text-small{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
.btn{
    margin: 9px 0px;
    padding: 6px 9px;
    border: 2px solid white; 
    border-radius: 15px;
    color: white;
    background: none;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    border: 0.5px solid white;
    border-radius: 5px;
    color: white;
    background: none;
}
.btn-send{
    align-content: center;
    padding: 6px 10px;
    vertical-align: middle;
    border: 0.5px solid black;
    border-radius: 5px;
    color: black;
    background: none;
}




/***************************************** BODY ************************************/

.back{
    height:10%;

}
/*.form-boxx{
    cursor: pointer;
    width: 1229px;
    height: 380px;
    margin: 6% auto;
    border: 5px  solid whitesmoke;
    border-radius: 5%;
    background: black;
    padding: 5px;
    overflow: hidden;
}*/

.form-boxx a{
    text-decoration: none;
}

.secRight{
    background: rgb(0, 0, 0, 0.7) url('../Images/code2.jpg');
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Nunito', sans-serif;
    display: flex;
    height:253px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding: 85px 84px; 
    text-align: center;
}
.secLeft{
    background: rgb(0, 0, 0, 0.7) url('../Images/code2.jpg');
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Nunito', sans-serif;
    display: flex;
    height:253px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding: 84px 84px; 
    flex-direction: row-reverse;
    text-align: center;
}
.paras{
    padding: 60px 50px;
   
    color: white;
}
.sectionSubTag{
    font-size: 22px;
}
.thumbnail img{
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}
.bg{

    background: rgb(0, 0, 0, 0.7) url('../Images/code2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

/**************************************** AEROSPACE PAGE ***********************************/

.topSection{
    background: rgb(0, 0, 0, 0.7) url('../Images/code2.jpg');
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    margin: auto;
    padding: 0px 67px;
}
.topText{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    color: white;
    padding: 27px 13px;
}

.transBox{
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
    color: white;
    line-height: 1.5;
    position:scroll;
    max-width: 85%;
    height: 3%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background: rgba(0, 0, 0, 0.7)
}
.secPart{
    display: flex;
}
.download{
    width: 9%;
    align-self: center;
    padding: 0px 10px
}

.download img{
    cursor: pointer;
    width: 74%;
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    margin: auto
}

/***************************************** ABOUT US PAGE ************************************/

.about1{
    background: rgb(0, 0, 0, 0.7) url('../Images/W1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.about2{
    background: rgb(0, 0, 0, 0.7) url('../Images/W2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.about3{
    background: rgb(0, 0, 0, 0.7) url('../Images/W3.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.about4{
    background: rgb(0, 0, 0, 0.7) url('../Images/W4.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.about5{
    background: rgb(0, 0, 0, 0.7) url('../Images/W5.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.para{
    color: white;
    padding: 60px 50px;
    text-align: center;
}

/***************************************** CONTACT US PAGE ************************************/


.contact{
    padding: 15px 0px;
    background-color: #f3f8fa;
    height: 550px;
}
.text-center{
    text-align: center;
    font-size:35px ;
    padding-top: 30px;
}

.form{
    max-width: 62%;
    margin: 42px auto;
}
.form-input{
    width:100%;
    padding: 5px 5px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 14px 0px;
    font-family: 'Nunito', sans-serif;
}
.text-footer{
    background-color: black;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    padding: 12px 0px;
    color:white;
    font-family: 'Nunito', sans-serif;
}

/********************************** LOG IN AND REGISTRATION PAGE *******************************/

.hero{
    height: 90%;
    width: 100%;
    background-position: center;
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

.form-box{
         width: 380px;
          height: 430px;
          position: relative;
          margin: 6% auto;  
          background: #fff;
          padding: 5px;
          overflow: hidden;
}
.button-box{
           display: flex;
            width: 229px;
            margin: 35px auto;
            position: relative;
            background: linear-gradient(to left, #ff105f,#ffad06);
            box-shadow: 0 0 20px 9px #f3581a1f;
            border-radius: 30px;
}
.toggle-btn{
           padding: 10px 30px; 
           cursor: pointer;  
           background: transparent;
           border: 0;
           outline: none;
           position: relative;
}
.submit-btn{
width: 85%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin: auto;
background: linear-gradient(to right, #ff105f,#ffad06);
border: 0;
outline: none;
border-radius: 30px; 
color: white;
}

#button{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f,#ffad06);
  border-radius: 30px;
  transition: .5s 
  
}
.social-icons{
               padding : 0px 77px;
               display: inline-flex;
               cursor: pointer;
               justify-content: center;
               align-items:center ;
}

.social-icons img{
width:22%; 
border: 3px solid white;
border-radius: 50px;
}
.input-group{
               top: 180px;
               position: absolute;
               width: 280px;
               transition: .5s;   
}                     
.input-field{                        
            width: 100%;   
            padding: 10px 0;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #999
            outline none;
            background: transparent;
}
.check-box{
            margin: 30px 10px 30px 0;
}
.span{
    color: #777;        
    font-size: 12px;          
    bottom: 68px;
    position: absolute;
}
#login{
     left: 50px;
}
#register{
     left: 450px;
} 

.burger{
    display: none;
   position: absolute;
   cursor: pointer;
   right: 5%;
   top:15px;

}
.line{
    width:33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

/**********************************************RESPONSIVENESS***********************************************/

@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition:all 0.7s ease-out ;
        height: 345px;
    }
    #search{
        width: 100%; 
    }

    .rightNav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    /*************************************************/
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
   .sectionSubTag{
       font-size: 15px;
   }
   .text-big{
       font-size: 30px;
   }
   .paras{
       padding: 60px 0px;
   }
   .secLeft, .secRight{
       padding: 84px 10px;
       
   }

   /*******************************/
   .form-box{
       background-color: rgb(0, 0, 0, 0.0);
       margin: 23% auto;

    }
    .hero{
        color: white;
    }
    .social-icons img{
        border:rgb(0, 0, 0, 0.7)
    }
}
